# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# SSH Keys
*.pem

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.auto.tfvars
*.auto.tfvars.json

# Local .terraform directories
**/.terraform/*

# CLI configuration files
.terraformrc
terraform.rc
